$black: #1A1A1A;
$dark: #1A1A1A;
$red: #D21411;
$white: #f5f5f5;
$gray: #d9d9d9;

$font-title: "TT Trailers", sans-serif;
$font-text: "Overpass", sans-serif;
$font-mono: "Overpass Mono", monospace;
$section-gap: 80px;